.ashop_page_wrapper {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.card.product.list_item .product_image {
	width: 12rem;
	min-width: 12rem;
	max-width: 12rem;
}

.card.product.list_item .subtitle {
	font-size: 0.8rem;
}

.card.product .product_image {
	position: relative;
	overflow: hidden;
}
.card.product .product_image img {
	transition: all 0.25s ease;
}
.card.product .product_image:hover img {
	scale: 1.25;
	transition: all 0.5s ease;
}

.card.product .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.card.product .rating {
	font-size: 11px;
}
.card.product .wishlist_btn {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
}

.products_page .shop_sidebar {
	border-radius: 0.25rem;
}

.products_page .shop_sidebar .widget {
	border-color: #ccc;
	margin-bottom: 1rem;
	border: 1px solid #00000020;
}

.products_page .shop_sidebar .widget .widget_body::-webkit-scrollbar {
	width: 4px;
}

.products_page .shop_sidebar .widget .widget_body::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.products_page .shop_sidebar .widget .widget_body::-webkit-scrollbar-thumb {
	background: #888;
}

.products_page .shop_sidebar form .widget .widget_body ul {
	padding-left: 0rem;
}

.products_page .shop_sidebar .widget .widget_body ul {
	padding-left: 1rem;
}

.products_page .shop_sidebar .widget .widget_body ul ul {
	margin-bottom: 0.5rem;
}

.products_page .shop_sidebar .widget .widget_body ul li {
	display: list-item;
}

.products_page .shop_sidebar .shop_sidebar_title {
	border-bottom: 1px solid #ccc;
}

.products_page .shop_sidebar .shop_sidebar_title,
.products_page .shop_sidebar .widget_body {
	padding: 10px;
	margin-bottom: 0px;
}

.products_page .shop_sidebar .widget {
	border-bottom: 1px solid #00000020;
	margin-bottom: 0.5rem;
	font-size: 0.85rem;
}

.products_page .shop_sidebar .widget .widget_body {
	overflow-y: scroll;
	max-height: 20rem;
}
.product_page #add_to_cart_form input#cart_quantity {
	max-width: 5rem;
	padding: 0.1rem 0.25rem;
}
.shop_header .form-control,
.shop_header #search_form_btn {
	font-size: 0.8rem;
	height: 2rem;
}
.shop_header .mobile-filter-btn{
    width: 3.25rem;
    color: white;
}
.shop_header .form-control {
	padding: 4px 10px;
}

.shop_header .search #search_form_category {
	border-radius: 3rem 0rem 0rem 3rem;
	max-width: 7rem;
}

.shop_header .search #search_form_search {
	max-width: 12rem;
}

.shop_header .search #search_form_btn {
	border-radius: 0rem 3rem 3rem 0rem;
}

.products_viewed .scroll-item {
	width: clamp(100px, 10%, 200px);
}
.coupon_form .form-control[name="coupon"] {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

.coupon_form .btn {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

#couponsModal .coupons .coupon_code {
	border: 2px dashed;
}
.order_confirmation .tick_icon {
	font-size: 6rem;
}
.user_account .user_nav .list-group a i {
	width: 24px;
	font-size: 110%;
}

.user_account .user_nav .nav-block {
	display: none;
}

.user_account .user_nav .nav-block.collapse.show {
	display: block;
}

.user_account .user_nav .nav-block a {
	padding: 0.75rem 1.5rem;
	transition: all 0.2s ease;
}

.user_account .user_nav .nav-block a:hover {
	padding-left: 2rem;
	background-color: #eaeaea;
	transition: all 0.2s ease;
}

/* Responsive Properties */
/* Responsive Properties */
/* Responsive Properties */

/* Less than 768px (col-md) */
@media (max-width: 767.98px) {
	.shop_sidebar_wrapper {
		border-radius: 0.25rem;
		position: fixed;
		z-index: 1;
		width: 100%;
		left: 0;
		bottom: 0;
		max-height: 70vh;
		padding: 0.75rem 1.5rem 1rem 1.5rem;
		background-color: #47474794;
		overflow-y: scroll;
		display: none;
	}

	.shop_sidebar_wrapper .shop_sidebar_close {
		display: block;
	}

	.shop_sidebar_wrapper .shop_sidebar_close_btn {
		display: flex;
		width: 2rem;
		height: 2rem;
		color: white;
		border-radius: 1rem;
		text-decoration: none;
		position: fixed;
		right: 1rem;
		overflow: visible;
		margin-top: -2.75rem;
	}

	.shop_sidebar_wrapper .shop_sidebar {
		background-color: white;
	}
}

/* Greater than 768px (col-md) */
@media (min-width: 768px) {
	.shop_sidebar_wrapper .shop_sidebar_close {
		display: none;
	}
}
