.card.product.list_item .product_image {
	width: 12rem;
	min-width: 12rem;
	max-width: 12rem;
}

.card.product.list_item .subtitle {
	font-size: 0.8rem;
}

.card.product .product_image {
	position: relative;
    overflow: hidden;
}
.card.product .product_image img{
    transition: all 0.25s ease;
}
.card.product .product_image:hover img {
	scale: 1.25;
    transition: all 0.5s ease;
}

.card.product .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.card.product .rating {
	font-size: 11px;
}
.card.product .wishlist_btn{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.products_page .shop_sidebar {
	border: 1px solid #00000020;
	border-radius: 0.25rem;
	padding-top: 0.5rem;
}

.products_page .shop_sidebar .shop_sidebar_title {
	padding: 10px;
	margin-bottom: 0px;
}

.products_page .shop_sidebar .widget {
	border-bottom: 1px solid #00000020;
	margin-bottom: 0.5rem;
	font-size: 0.85rem;
}

.products_page .shop_sidebar .widget .widget_body {
	overflow-y: scroll;
	max-height: 20rem;
}
.product_page #add_to_cart_form input#cart_quantity {
    max-width: 5rem;
    padding: 0.1rem 0.25rem;
}
